    .select {
        background: #FCFCFC;
        margin-bottom: 100px;
        &-top {
            padding: 20px 10px 50px 10px;
            &-container {
                max-width: 1000px;
                margin: 0 auto;
                position: relative;
                &-title {
                    font-size: 50px;
                    padding-bottom: 10px;
                }
                &-text {
                    max-width: 600px;
                    font-size: 15px;
                    padding-bottom: 10px;
                }
                &-image {
                    position: absolute;
                    top: 50px;
                    right: 150px;
                    width: 200px;
                    z-index: 1;
                }
            }
        }
        &-bot {
            background: rgb(255, 255, 255);
            background: repeating-linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, #F0EAE5 2%);
            padding: 20px 10px 50px 10px;
            position: relative;
            margin-bottom: 200px;
            &-text {
                max-width: 500px;
                margin: 0 auto;
                padding-bottom: 80px;
                font-size: 40px;
            }
            &-payment {
                max-width: 700px;
                position: absolute;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                justify-content: space-between;
                top: 150px;
                &-box {
                    background-color: white;
                    padding: 30px;
                    border-radius: 5px;
                    box-shadow: 5px 5px 7px #242322;
                    h4 {
                        padding-bottom: 10px;
                        font-size: 20px;
                        border-bottom: 1px #242322 dotted;
                    }
                    &-button {
                        background-color: #242322;
                        color: white;
                        border: none;
                        padding: 8px 5px;
                        margin-top: 10px;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }
            }
        }
        &-reasons {
            display: flex;
            max-width: 900px;
            margin: 0 auto;
            border-bottom: 1px #242322 dotted;
            padding-bottom: 35px;
            &-title {
                min-width: 200px;
                font-size: 30px;
                margin-right: 20px;
            }
            &-text {
                text-align: justify;
            }
        }
        &-advantages {
            display: flex;
            max-width: 900px;
            margin: 0 auto;
            border-bottom: 1px #242322 dotted;
            margin-top: 10px;
            padding-bottom: 35px;
            &-title {
                min-width: 200px;
                font-size: 30px;
                margin-right: 20px;
            }
            &-text {
                text-align: justify;
                &-one {
                    margin-top: 25px;
                    display: flex;
                    border-bottom: 1px #242322 dotted;
                    padding-bottom: 10px;
                    &-title {
                        margin-right: 10px;
                        font-weight: bold;
                    }
                }
                &-two {
                    margin-top: 25px;
                    display: flex;
                    border-bottom: 1px #242322 dotted;
                    padding-bottom: 10px;
                    &-title {
                        margin-right: 10px;
                        font-weight: bold;
                    }
                }
                &-three {
                    margin-top: 25px;
                    display: flex;
                    padding-bottom: 10px;
                    &-title {
                        margin-right: 10px;
                        font-weight: bold;
                    }
                }
            }
        }
        &-explain {
            display: flex;
            max-width: 900px;
            margin: 0 auto;
            margin-top: 10px;
            padding-bottom: 10px;
            &-title {
                min-width: 200px;
                font-size: 30px;
                margin-right: 20px;
            }
            &-text {
                text-align: justify;
            }
        }
    }